html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.no-match {
    cursor: default;
    background: red;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.timer {
    margin: 0 100px 0 0;
    font-family: Georgia;
    font-variant: small-caps;
    font-size: 18px;
}

.start {
    font-weight: bold;
    font-size: 22px;
    color: red;
}


/*
The idea taken from 
https://scotch.io/tutorials/how-to-build-a-memory-matching-game-in-javascript#toc-5-the-timer
 * Congratulations Popup
 */

 h6 {
    margin:0;
    padding: 0;
    text-align: center;
    width: 100%;
 }

#text-box {
    display: block;
    text-align: center;
}

 .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.unhide {
    visibility: visible;
	opacity: 1;
}

.popup {
	margin: 20% auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 80%;
	position: relative;
	/* transition: all 5s ease-in-out; */
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

#restart {
	background-color: #141214;
	padding: 0.7rem 1rem;
	font-size: 1.2rem;
	display: block;
	margin: auto;
	font-family: 'Gloria Hallelujah', cursive;
	color: #ffffff;
	border-radius: 10px;
}

#starRating {
    display: block;
    text-align: center;
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: 0;
 
}

#starRating li {
    display: inline-block;
}

.division {
    width: 50%;
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
}
